main aside {
    float: left;

    width: 150px;
}

main .chat {
    float: left;

    margin-left: 10px;

    width: 200px;
}

main .chat .history {
    width: 200px;
    height: 200px;

    border: solid thin gray;
}

main .chat .input {
    width: 144px;
}

main .chat .btnSend {
}
