body {
    margin: 0;

    width: auto;

    color: #232323;

    font-family: Verdana, Tahoma, Arial, serif;
    /*line-height: 150%;*/
    font-size: 13px;
}

/* Elements */

a:link, a:active, a:visited
{
    color: #323232;
    text-decoration: none;
}

a:hover
{
    color: #36F;
    text-decoration: none;
}

/* Header */

header {
    margin: 10px;
    padding-left: 10px;

    height: 50px;

    border-bottom: solid thin gray;
}

header #logo {
    float: left;

    margin: 0;
    padding-top: 3px;

    font-size: 30px;
    font-weight: bold;
}

/* Navigation */

nav {
    margin: 10px;

    line-height: 180%;

    border: solid thin gray;
}

nav #navigation {
    float: left;

    margin: 0;
    padding-left: 10px;

    text-align: left;
}

nav #actions {
    float: right;

    margin: 0;
    padding-right: 10px;

    text-align: right;
}

/* Main Section */

main {
    clear: both;

    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;

    border-left: solid thin gray;
    border-right: solid thin gray;
}

/* Footer */

footer {
    clear: both;

    margin: 10px;

    line-height: 180%;
    text-align: center;

    border-top: solid thin gray;
}

/* Utils */

.clearDiv {
    height: 0;
    clear: both;
}
