body {
    margin: 0 10px 0 10px;

    width: auto;
    min-width: 720px;

    color: #232323;

    font-family: Verdana, Tahoma, Arial, serif;
    /*line-height: 150%;*/
    font-size: 13px;
}

/* Elements */

a:link, a:active, a:visited
{
    color: #323232;
    text-decoration: none;
}

a:hover
{
    color: #36F;
    text-decoration: none;
}

/* Header */

body > header {
    margin: 10px 0 10px 0;
    padding-left: 10px;

    height: 45px;

    border-bottom: solid thin gray;
}

body > header #logo {
    float: left;

    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

body > header #createConversationForm {
    float: right;

    padding-top: 5px;
}

/* Navigation */

body > nav {
    margin: 10px 0 10px 0;

    line-height: 180%;

    border: solid thin gray;
}

body > nav #navigation {
    float: left;

    margin: 0;
    padding-left: 10px;

    text-align: left;
}

body > nav #actions {
    float: right;

    margin: 0;
    padding-right: 10px;

    text-align: right;
}

/* Main Section */

body > main {
    padding: 0 10px 0 10px;

    border-left: solid thin gray;
    border-right: solid thin gray;
}

/* Footer */

body > footer {
    clear: both;

    margin: 10px 0 10px 0;

    line-height: 180%;
    text-align: center;

    border-top: solid thin gray;
}

/* Utils */

.clearDiv {
    height: 0;
    clear: both;
}
