body {
    margin: 0;

    width: auto;

    color: #232323;

    font-family: Verdana, Tahoma, Arial, serif;
    /*line-height: 150%;*/
    font-size: 13px;
}

/* Elements */

a:link, a:active, a:visited
{
    color: #323232;
    text-decoration: none;
}

a:hover
{
    color: #36F;
    text-decoration: underline;
}

/* Header */

header {
    margin: 10px;
    padding-left: 20px;

    border-bottom: solid thin gray;
}

/* Navigation */

nav {
    margin: 10px;

    line-height: 180%;
    text-align: center;

    border: solid thin gray;
}

/* Main Section */

main {
    margin: 10px;
}

/* Footer */

footer {
    clear: both;

    margin: 10px;

    line-height: 180%;
    text-align: center;

    border-top: solid thin gray;
}

/* Utils */

.clearDiv {
    height: 0;
    clear: both;
}
